.cover{
    height: 100vh;
    background-color: #1c1b27;
    position: relative;
    padding-left: 50px;

    div{
        padding-top: 15%;
        
        p{
            color: #fff;
            

            &:nth-child(1){
                font-size: 40px;
                font-weight: 500;
            }
            &:nth-child(2){
                font-size: 50px;
                font-weight: bolder;
                color: yellow;
            }
            &:last-child{
                width: 350px;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
    
    button{
        width: 150px;
        padding: 12px;
        margin-top: 50px;
        border:none;
        border-radius: 10px;
        cursor: pointer;
        outline: none;
        background-color: #fff;
        font-weight: 700;
        color: #1c1b27;
    }
}
.register{
    padding-bottom: 100px;
}
.auth{
    display: flex;
    
    img{
        flex: 1;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    
    .auth_input{
        flex: 1;
        margin-top: 150px;
        text-align: center;
        
        form{
            width: 60%;
            margin: auto;

            h2{
                margin-bottom: 50px;
            }
            input{
                margin-bottom: 20px;
            }
            p{
                margin-top: 10px;
                font-size: 14px;
            }
            .signinWith{
                display: flex;
                justify-content: center;
                align-items: center;

                p{
                    border: 1px solid;
                    border-radius: 50%;
                    padding: 10px 15px;

                    &:nth-child(1){
                        margin-right: 20px;
                    }
                }
            }
        }        
        p{
            margin-top: 10px;
            font-size: 14px;
        }
    }
    .dont_ a{
        color: blue;
        padding-left: 5px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1139px) {
    .auth{
        justify-content: center;
        flex-direction: column;
        padding: 50px 0;

        img{
            width: 200px;
            margin: 50px auto;
        }
            
        .auth_input{
            margin-top: 0px;
        }
    }
}
@media screen and (max-width: 767px) {
    .auth{
        justify-content: center;
        flex-direction: column;
        padding: 50px 0;
    
        img{
            width: 200px;
            margin: 50px auto;
        }
            
        .auth_input{
            margin-top: 0px;
            
            form{
                width: 90%;
                margin: auto;
            }
        }
    }
}