.forum{
    display: flex;


    .chatlist{
        width: 350px;

        input{
            border-radius: 20px;
            border: 2px solid;
            margin-bottom: 20px;
        }
        .single_chat{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
            cursor: pointer;
            transition: all 0.3s linear;

            &:hover{
                transition: all 0.3s linear;
                background-color: #ddd;
            }
            img{
                height: 50px;
                width: 50px;
                border-radius: 50%;
                border: none;
                background-color: #1C1B27;
            }
            p{
                font-size: 11px;
            }
            .forum_name{
                padding: 5px 5px;

                h6{
                    margin-bottom: 5px;
                }
                span{
                    color: orange;
                }
            }
            .forum_time{
                text-align: right;

                .badge{
                    font-size: 10px;
                    padding:0px 5px;
                    border-radius: 5px;
                    background-color: #fff;
                }
            }
        }
    }
    .chatroom{
        margin-left: 30px;
        position: fixed;
        right: 30px;

        .chatroom_header{
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            background-color: #1C1B27;

            .opt_icons{
                img{
                    margin-left: 10px;
                    cursor: pointer;
                }
            }
             p{
                font-size: 11px;
                margin-top: 5px;
             }
        }
        .chatroom_chats{

            .message_box{

                .imessage {
                position: relative;
                background-color: #fff;
                border: 1px solid #e5e5ea;
                border-radius: 0.25rem;
                display: flex;
                flex-direction: column;
                font-family: "SanFrancisco";
                font-size: 14px;
                margin: 0 auto 1rem;
                max-height: 500px;
                max-width: 1000px;
                padding: 15px 20px 80px;
                overflow-y: auto;
              }
              .imessage p {
                  border-radius: 5px;
                  line-height: 1.25;
                max-width: 55%;
                padding: 0.5rem .875rem;
                position: relative;
                word-wrap: break-word;
              }
              .imessage p span{
                  display: block;
                  margin:5px 0 0;
                  text-align: left;
              }
              .from-me span{
                  color: #0f0f0f80;
              }
              .from-them span{
                  color: #ffffff80
              }
              
              .imessage p::before,
              .imessage p::after {
                bottom: -0.1rem;
                content: "";
                height: 1rem;
                position: absolute;
              }
              
              p.from-me {
                align-self: flex-end;
                background-color: #e5e5ea;
                color: #000;
              }
              
              p.from-me::before {
                border-bottom-left-radius: 0.8rem 0.7rem;
                border-right: 1rem solid #e5e5ea;
                right: -0.35rem;
                transform: translate(0, -0.1rem);
              }
              
              p.from-me::after {
                background-color: #fff;
                border-bottom-left-radius: 0.5rem;
                right: -40px;
                transform:translate(-30px, -2px);
                width: 10px;
              }
              
              p[class^="from-"] {
                margin: 0.5rem 0;
                width: fit-content;
              }
              
              p.from-me ~ p.from-me {
                margin: 0.25rem 0 0;
              }
              
              p.from-me ~ p.from-me:not(:last-child) {
                margin: 0.25rem 0 0;
              }
              
              p.from-me ~ p.from-me:last-child {
                margin-bottom: 0.5rem;
              }
              
              p.from-them {
                align-items: flex-start;
                background-color: #1C1B27;
                color: #fff; 
              }
              
              p.from-them:before {
                border-bottom-right-radius: 0.8rem 0.7rem;
                border-left: 1rem solid #1C1B27;
                left: -0.35rem;
                transform: translate(0, -0.1rem);
              }
              
              p.from-them::after {
                background-color: #fff;
                border-bottom-right-radius: 0.5rem;
                left: 20px;
                transform: translate(-30px, -2px);
                width: 10px;
              }
              
              p[class^="from-"].emoji {
                background: none;
                font-size: 2.5rem;
              }
              
              p[class^="from-"].emoji::before {
                content: none;
              }
              
              .no-tail::before {
                display: none;
              }
              
              .margin-b_none {
                margin-bottom: 0 !important;
              }
              
              .margin-b_one {
                margin-bottom: 1rem !important;
              }
              
              .margin-t_one {
                margin-top: 1rem !important;
              }
            .imessage span{
                font-size: 10px;
                text-align: center;
                margin: 20px 0;
            }
            .send_message{
              background-color: #fff;
              width: 100%;
            }
            .send_message div{
              position: relative;
                display: flex;
                align-items: center;
                background-color: #EAF0FF;
                border-radius: 20px;
                margin: 0 10px;
                padding: 0 10px;
                border: 1px solid rgba(157, 165, 178, 0.17);
            }
            .send_message div input {
                width: 300px;
                padding: 10px;
                border: none;
                outline: none;
                background-color: #EAF0FF;
            }
            .send_message img{
                background-color: #EAF0FF;
                padding: 5px;
                border-radius: 50%;
                cursor: pointer;
            }
            .send_message{
                display: flex;
                align-items: center;
                margin: 30px auto 10px;
                width: 500px;
                position: absolute;
                bottom: 0;
                left:10%;
            }
            }
        }
        // .chatroom_header{}
    }
}