.profile {
    display: flex;
    
    .profile_sidebar{
        width: 200px;
        font-size: 14px;
        margin-right: 100px;
        
        ul{
            list-style-type: none;
            font-size: 14px;
            
            li{
                padding: 10px;
                border-bottom: 1px solid #6a9d9a;
                margin-bottom: 20px;

                span{
                    margin-right: 10px;
                }
            }
        }
    }

    .profile_content{
        width: 100%;
        text-align: center;

        img{
            height: 100px;
            width: 100px;
            border-radius: 50%;
            margin-bottom: 20px;
        }
        button{
            width: 200px;
            background-color: rgb(46, 157, 46);
            border: 1px solid;
            cursor: pointer;
            border-radius: 10px;
            padding: 12px 15px;
            color: #fff;
            border: none;
        }

        form {
            
            div{
                margin: 30px 0;
                text-align: left;

                div {
                    margin-bottom: 0;

                    label{
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                    input{
                        border: 1px solid #317773;
                    }
                }
            }
            div label{
                font-size: 14px;
                margin-bottom: 10px;
            }
            input{
                border: 1px solid #317773;
            }
            .double{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0;
                
                div{
                    margin: 0;
                   
                    &:first-child{
                        margin-right: 10px;
                    }
                }
                #update{
                    width: 150px;
                    margin-bottom: -20px;
                }
            }
        }
    }
}